.de-footer {
    position: relative;
}

.de-footer-logo {
    position: absolute;
    top: 0;
    right: 0;
    mix-blend-mode: multiply;

    width: 200%;

    overflow: hidden;
    opacity: .2;

    @include breakpoint(md) {
        width: 75%;
    }

    svg {
        fill: var(--background);

        @include breakpoint(md) {
            margin-right: -5vw;
        }
    }
}

.de-footer-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: calc(var(--font-size-7) * 2);
    align-items: flex-end;

    padding: 5vw;

    @include breakpoint(md) {
        grid-template-columns: 3fr 1fr 1fr;
        grid-gap: 5vw;
    }
}


.de-footer-about {
    font-family: var(--font-family-serif);
    font-size: var(--font-size-3);
    font-weight: 300;

    margin-bottom: calc(var(--font-size-7) * 2);

    @include breakpoint(md) {
        font-size: var(--font-size-2);
        margin-bottom: 0;
    }
}

.de-footer-info,
.de-footer-contact {
    position: relative;
    font-family: var(--font-family-monospace);
    text-transform: lowercase;

    ul {
        display: flex;
        flex-direction: column;

        li {
            +li {
                margin-top: var(--font-size-7);
            }
        }
    }

    a {
        position: relative;
        display: inline-flex;

        &:after {
            content: ' ⟶';

            position: absolute;
            right: 0;
            bottom: 0;
            opacity: 0;

            display: block;

            transition: .25s all ease;
        }

        &:hover {
            &:after {
                right: -2rem;
                opacity: 1;

                transition: .1s all ease;
            }
        }
    }
}

.de-footer-contact {
    ul {
        li {
            +li {
                margin-top: calc(var(--font-size-7) / 2);
            }
        }

        +a {
            display: inline-block;
            margin-top: calc(var(--font-size-7) * 2);
        }
    }
}

.de-footer-copyright {
    font-family: var(--font-family-monospace);
    text-transform: lowercase;
    padding: 0 5vw 5vw;

    @include breakpoint(md) {
        text-align: center;
        padding: 5vw 5vw;
    }
}