@import 'mixins';

@font-face {
    font-family: 'Xerox Serif Wide';
    src: url('/assets/fonts/XeroxSerifWideFC.woff');
    font-weight: 500;
    font-style: normal;
}

:root {
    // HARMONY
    --background: rgb(20, 45, 25);

    --font-family-sans-serif: 'Trebuchet MS', Trebuchet MS, sans-serif;
    --font-family-serif: 'Xerox Serif Wide', serif;
    --font-family-monospace: 'Inconsolata', monospace;
    --font-size: 16px;
    --font-size-mobile: 16px;

    --black: #000;
    // --border-color: hsla(0, 0%, 95.7%, .25);
    --border-color: rgba(228, 220, 169, 0.25);

    // DEADEND

    --text: #f2e2ad;
    --menu-background: rgba(20, 50, 40, 0.75);
}

html {
    width: 100%;
    // height: 100%;
}

body {
    // position: fixed;
    position: relative;
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0;

    width: 100%;
    // height: 100%;

    color: var(--text);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-size-adjust: none;

}

.has-text-smallcaps {
    font-weight: normal;
    letter-spacing: 2px;
}

.de-noise {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;

    display: block;

    width: 100%;
    height: 100%;

    background-color: transparent;
    background-image: url('/assets/images/layout/noise.gif');
    background-size: 300px auto;

    opacity: 0.05;
}

.de-window {
    border: 1px solid var(--border-color);
    box-shadow: 1.5px 1.5px 0 var(--background),
        6.5px 6.5px 0 var(--border-color);
}

.de-window-buttons {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0.5rem;

    margin-right: 1rem;

    span {
        display: flex;
        width: 1rem;
        height: 1rem;
        border: 1px solid var(--border-color);
        border-radius: 50%;
    }
}

@mixin de-window-background {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: var(--menu-background);
    // mix-blend-mode: difference;
}

.de-window-background {
    @include de-window-background;
}

.no-backdropfilter {
    .de-window-background {
        background-color: rgba(99, 95, 68, 0.9);
    }
}

.de-scene {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    width: 100%;
    height: 100%;

    padding: 1rem;

    @include breakpoint(sm) {
        padding: 2.5vw;
    }
}

.de-wrapper {
    position: relative;

    width: 100%;
    height: 100%;

    overflow: scroll;
    overflow-x: hidden;

    transform: translate3d(0, 0, 0);
}

.de-main {
    position: relative;
}

// .de-header {
//     position: sticky;
//     top: 0;
//     z-index: 9000;

//     display: flex;
//     flex-direction: column;

//     padding: 0 2rem;

//     // border-bottom: 1px solid var(--border-color);
//     border-bottom: 1px solid transparent;

//     transition: all 0.5s ease;

//     // @include de-window-background;

//     &.is-scroll {
//         border-bottom: 1px solid var(--border-color);
//         transition: all 0.5s ease;

//         @include de-window-background;

//         .de-navbar {
//             .de-navbar-logo {
//                 transition: all 0.5s ease;

//                 @include breakpoint(sm) {
//                     padding: 1rem 0;
//                 }

//                 .de-navbar-logo-image {
//                     transition: all 0.5s ease;

//                     @include breakpoint(sm) {
//                         width: 10rem;
//                     }
//                 }
//             }
//         }
//     }

//     .de-topbar {
//         display: flex;
//         align-items: center;
//         justify-content: flex-start;

//         border-bottom: 1px solid var(--border-color);

//         transform: translate3d(0, 0, 0);

//         .de-topbar-message {
//             height: 1.5rem;
//             white-space: normal;
//             overflow: hidden;
//             margin-right: 1rem;
//         }

//         .de-topbar-menu {
//             margin-left: auto;

//             ul {
//                 display: grid;
//                 grid-auto-flow: column;

//                 li {
//                     font-size: var(--font-size-7);
//                     font-weight: normal;
//                     letter-spacing: 2px;
//                     text-transform: uppercase;
//                     border-top: 3px inset transparent;
//                     border-bottom: 3px inset transparent;

//                     &.current-menu-item {
//                         border-top-color: var(--border-color);
//                     }

//                     a {
//                         display: flex;
//                         align-items: center;
//                         justify-content: center;
//                         height: 3rem;
//                         padding: 0 1rem;
//                     }

//                     &:last-child {
//                         a {
//                             padding-right: 0;
//                         }
//                     }
//                 }
//             }
//         }
//     }

//     .de-navbar {
//         display: flex;
//         align-items: stretch;
//         justify-content: flex-start;

//         transform: translate3d(0, 0, 0);

//         .de-navbar-logo {
//             display: block;
//             flex-grow: 1;
//             flex-shrink: 0;
//             padding: 1.5rem 0;

//             transition: all 0.5s ease;

//             @include breakpoint(sm) {
//                 padding: 2rem 0;
//             }

//             .de-navbar-logo-image {
//                 width: 10rem;
//                 transition: all 0.5s ease;

//                 @include breakpoint(sm) {
//                     width: 15rem;
//                 }

//                 svg {
//                     fill: currentColor;
//                 }
//             }
//         }

//         .de-navbar-menu {
//             display: flex;
//             align-items: center;

//             .de-navbar-menu-wrapper {
//                 display: none;

//                 @include breakpoint(md) {
//                     display: grid;
//                     grid-auto-flow: column;
//                     grid-gap: 0;

//                     height: 100%;

//                     >li {
//                         position: relative;
//                         display: flex;
//                         align-items: center;
//                         justify-content: center;
//                         height: 100%;

//                         font-size: var(--font-size-7);
//                         font-weight: normal;
//                         letter-spacing: 2px;
//                         text-transform: uppercase;

//                         border-top: 3px solid transparent;
//                         border-bottom: 3px solid transparent;

//                         &.current-menu-item {
//                             border-bottom-color: var(--border-color);
//                         }

//                         &:hover {
//                             border-bottom-color: var(--border-color);
//                         }

//                         >a {
//                             padding: 1rem 2rem;
//                         }

//                         &:hover {
//                             .sub-menu {
//                                 display: grid;
//                             }
//                         }

//                         .sub-menu {
//                             position: absolute;
//                             top: calc(100% + 3px);

//                             display: none;
//                             width: 150%;

//                             padding: 0 1rem;

//                             border: 1px solid var(--border-color);

//                             @include de-window-background;

//                             li {
//                                 position: relative;
//                                 display: flex;
//                                 align-items: center;
//                                 justify-content: center;

//                                 font-size: var(--font-size-7);
//                                 font-weight: normal;
//                                 letter-spacing: 2px;
//                                 text-transform: uppercase;

//                                 +li {
//                                     border-top: 0.5px solid var(--border-color);
//                                 }

//                                 a {
//                                     padding: 2rem 0;
//                                 }
//                             }
//                         }
//                     }
//                 }
//             }

//             .de-navbar-menu-toggle {
//                 position: relative;
//                 display: block;
//                 width: 2rem;
//                 height: 2rem;
//                 grid-gap: 0.5rem;

//                 @include breakpoint(md) {
//                     display: none;
//                 }

//                 span {
//                     position: absolute;
//                     display: block;
//                     width: 2rem;
//                     height: 1px;
//                     background-color: var(--border-color);

//                     &:nth-child(1) {
//                         top: 25%;
//                     }

//                     &:nth-child(2) {
//                         top: 50%;
//                     }

//                     &:nth-child(3) {
//                         top: 75%;
//                     }
//                 }

//                 &.is-active {
//                     span {
//                         &:nth-child(2) {
//                             display: none;
//                         }

//                         &:nth-child(1) {
//                             top: 50%;
//                             transform: rotate(45deg);
//                         }

//                         &:nth-child(3) {
//                             top: 50%;
//                             transform: rotate(-45deg);
//                         }
//                     }

//                     +.de-navbar-menu-wrapper {
//                         position: absolute;
//                         top: 100%;
//                         left: calc(-2rem - 1px);
//                         display: grid;
//                         grid-template-columns: minmax(0, 1fr);
//                         grid-gap: 2rem;

//                         width: calc(100% + 4rem + 2px);

//                         border: 1px solid var(--border-color);

//                         padding: 2rem;

//                         @include de-window-background;

//                         >li {
//                             +li {
//                                 border-top: 0.5px solid var(--border-color);
//                                 padding-top: 2rem;
//                             }

//                             >a {
//                                 // font-family: 'Krona One', sans-serif;
//                                 font-size: var(--font-size-3);
//                             }

//                             .sub-menu {
//                                 display: grid;
//                                 grid-template-columns: minmax(0, 1fr);
//                                 grid-gap: 1rem;

//                                 margin-top: 1rem;

//                                 li {
//                                     font-size: var(--font-size-7);
//                                     font-weight: normal;
//                                     letter-spacing: 2px;
//                                     text-transform: uppercase;
//                                 }
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }



// .de-footer {
//     position: sticky;
//     bottom: 0;
//     z-index: 9000;

//     display: flex;
//     align-items: center;
//     justify-content: space-between;

//     border-top: 1px solid var(--border-color);

//     padding: 0.75rem 2rem;

//     transition: all 0.5s ease;

//     @include de-window-background;

//     &.is-bottom {
//         margin: 0 2rem;
//         padding: 0.75rem 0;

//         transition: all 0.5s ease;
//     }

//     .de-footer-socials {
//         display: grid;
//         grid-auto-flow: column;
//         grid-gap: 0.75rem;

//         li {
//             font-size: var(--font-size-7);
//             font-weight: normal;
//             letter-spacing: 2px;
//             text-transform: uppercase;

//             +li {
//                 &:before {
//                     content: '—';
//                     margin-right: 0.75rem;
//                 }
//             }
//         }
//     }
// }


.de-body {
    position: relative;
}

.de-editorial-header {
    position: relative;
    z-index: 100;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    border-bottom: 1px solid var(--border-color);

    @include breakpoint(md) {
        grid-template-columns: repeat(3, 1fr);
        width: 75%;
    }

    .de-editorial-header-info {
        border-top: 1px solid var(--border-color);
        padding: 1.5rem 2rem;

        font-size: var(--font-size-5);
        letter-spacing: 2px;
        text-transform: uppercase;

        span {
            display: block;
            font-size: var(--font-size-7);
            font-weight: normal;
            letter-spacing: 2px;
            text-transform: uppercase;
        }

        &:not(:first-child) {
            border-left: 1px solid var(--border-color);
        }
    }
}

.de-tfd-big-title {
    padding: 0 1.5rem;
    margin-top: 5vw;
    margin-bottom: 10vw;
    width: 100%;

    @include breakpoint(md) {
        padding: 0 1rem;
        margin-bottom: 0;
    }

    &-heading {
        font-family: 'Krona One', sans-serif;
        text-transform: uppercase;
        line-height: 1;
        font-size: 20vw;
    }

    &-the {
        position: relative;
        z-index: 0;

        padding-top: 15vw;

        @include breakpoint(md) {
            padding-top: 5vw;
        }
    }

    &-first {
        position: relative;
        z-index: 4;

        padding-top: 10vw;
        text-align: right;

        @include breakpoint(md) {
            padding-top: 5vw;
        }
    }

    &-drop {
        position: relative;
        z-index: 1;

        padding-top: 10vw;

        @include breakpoint(md) {
            padding-top: 5vw;
        }

        &-dr {
            padding-left: 2.125rem;
        }
    }

    &-figure {
        position: absolute;
        top: 0;
        right: 5vw;

        width: 100%;


        &-01 {
            position: absolute;
            top: 0;
            right: 5vw;
            z-index: 3;

            display: block;
            width: 60vw;

            @include breakpoint(md) {
                width: 45vw;
            }
        }

        &-02 {
            position: absolute;
            top: -1vw;
            right: 9vw;
            z-index: 1;

            display: block;
            width: 60vw;

            @include breakpoint(md) {
                width: 45vw;
            }
        }

        &-03 {
            position: absolute;
            top: -10vw;
            right: 10vw;
            z-index: 1;

            display: block;
            width: 60vw;
            height: 60vw;

            border-radius: 50%;

            background-image: radial-gradient(circle,
                    rgba(13, 73, 50, 1) 0%,
                    rgba(13, 73, 50, 0) 60%);
        }

    }

    &-circle {
        position: absolute;
        top: 7.5vw;
        right: 0;
        z-index: 1;

        display: block;
        width: 75vw;
        height: 90vw;

        overflow: hidden;

        @include breakpoint(md) {
            top: 0;

            width: 70vw;
            height: 75vw;
        }

        &:before {
            content: '';

            display: block;
            width: 90vw;
            height: 90vw;

            border-radius: 50%;

            border: 1px solid var(--border-color);

            @include breakpoint(md) {
                width: 75vw;
                height: 75vw;
            }
        }
    }

    &-intro {
        position: relative;
        z-index: 3;

        display: block;
        width: 75%;

        margin-top: 10vw;

        text-transform: uppercase;
        line-height: 2;

        @include breakpoint(md) {
            position: absolute;
            top: 55vw;
            left: 10vw;

            width: 30vw;

            margin-top: 0;

            font-size: 1.5vw;
        }
    }

    &-marquee {
        position: absolute;
        top: 70vw;
        left: -25%;

        display: block;
        width: 150%;
        height: 3.5rem;

        background-color: var(--background);

        border-top: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);

        transform: rotate(-7.5deg);

        @include breakpoint(md) {
            top: 50vw;
            height: 5rem;
        }

        span {
            display: block;
            height: 100%;
            width: 100%;

            background-image: url('/assets/images/the-first-drop/marquee-tag.png');
            background-repeat: repeat-x;
            background-position: center;
            background-size: auto 12px;

            animation: de-tfd-marquee 5s infinite linear;
        }
    }
}

@keyframes de-tfd-marquee {
    from {
        -webkit-transform: translateX(0);
        transform: translateY(0);
    }

    to {
        -webkit-transform: translateX(-150px);
        transform: translateX(-150px);
    }
}


@import 'header';
@import 'footer';