<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% seo %}

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://git.haiphan.design/harmony/harmony.min.css">
    <link
        href="https://fonts.googleapis.com/css?family=Krona+One|Montserrat:400,400i,600,600i&display=swap&subset=latin-ext,vietnamese"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Grenze:300,300i,400,400i,700,700i&display=swap&subset=vietnamese"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ "/assets/addons/fontawesome/all.min.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">


</head>

<body>

    <!-- <div class="de-noise is-nonselectable is-click-through"></div> -->

    <!-- <div class="de-scene">
        <div class="de-wrapper de-window">
            <div class="de-main"> -->

    <!-- <div class="de-header">

        <div class="de-topbar">

            <div class="de-topbar-window-buttons de-window-buttons">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <div class="de-topbar-message">
                <span class="has-text-smallcaps">
                    :/DEADEND/2019/THE-FIRST-DROP.RL
                </span>
            </div>

            <nav class="de-topbar-menu">
                <ul class="de-topbar-menu-wrapper">
                    <li class="menu-item"><a href="#"><i class="far fa-star"></i></a></li>
                    <li class="menu-item current-menu-item"><a href="#"><i class="far fa-shopping-basket"></i>
                            (2)</a></li>
                </ul>
            </nav>

        </div>

        <div class="de-navbar">

            <div class="de-navbar-logo">
                <div class="de-navbar-logo-image">
                    {%- include logo-svg.html -%}
                </div>
            </div>

            <nav class="de-navbar-menu">

                <div class="de-navbar-menu-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

                <ul class="de-navbar-menu-wrapper">
                    <li class="menu-item">
                        <a href="#">Collections</a>
                        <ul class="sub-menu">
                            <li><a href="#">Sub Menu #1</a></li>
                            <li><a href="#">Sub Menu #2</a></li>
                            <li><a href="#">Sub Menu #3</a></li>
                        </ul>
                    </li>
                    <li class="menu-item"><a href="#">Drops</a></li>
                    <li class="menu-item"><a href="#">Collections</a></li>
                    <li class="menu-item">
                        <a href="#">About</a>
                    </li>
                </ul>

            </nav>

        </div>

    </div> -->

    <div class="de-body">
        <div id="main">
            {{ content }}
        </div>
    </div>

    <div class="de-subfooter">
        <div class="de-subfooter-wrapper">
            <div class="de-subfooter-about">
                <p>Deadend is an idea of a Viet patriot who believes in our tribe. We have no take on any parties and
                    organizations. The world is our capital. Vietnam is our context. Deadend is our business. We are not
                    fashion designer and we have no boundaries to push. One day we try to make t-shirts, the other day
                    we try to create chairs.</p>
                <p>We are honest. We are free of space and time. We don’t compromise. And we promote inner freedom,
                    happiness, success, and wealth.</p>
            </div>
            <div class="de-subfooter-info">
                <p>info@deadendvietnam.com</p>
                <p>123 Nguyen Thi Minh Khai, W.1, D.1, HCMC, VN</p>
                <p>0123 456 789</p>
            </div>
            <div class="de-subfooter-contact">
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- <div class="de-footer is-bottom">
        <span class="has-text-smallcaps">© Deadend</span>
        <div class="de-footer-left"></div>
        <div class="de-footer-right">
            <ul class="de-footer-socials">
                <li><a href="#">fb</a></li>
                <li><a href="#">ig</a></li>
            </ul>
        </div>
    </div> -->
    <!-- </div>
        </div>
    </div> -->

    <!-- Javascript -->
    {%- include javascript.html -%}

</body>

</html>