<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% seo %}

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://git.haiphan.design/harmony/harmony.min.css">
    <link
        href="https://fonts.googleapis.com/css?family=Krona+One|Montserrat:400,400i,600,600i&display=swap&subset=latin-ext,vietnamese"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Grenze:300,300i,400,400i,700,700i&display=swap&subset=vietnamese"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap&subset=latin-ext,vietnamese"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ "/assets/addons/fontawesome/all.min.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">


</head>

<body>

    <div class="de-noise is-click-through is-nonselectable"></div>

    <div class="de-header">
        <div class="de-header-logo">
            {%- include logo-svg.html -%}
        </div>
        <div class="de-header-menu">
            <ul>
                <li><a href="#">Bag (2)</a></li>
            </ul>
        </div>
    </div>


    <div class="de-body">
        <div id="main">
            {{ content }}
        </div>
    </div>

    <div class="de-footer">
        <div class="de-footer-logo lax" data-lax-opacity_md="vh 0, 100 0.1" data-lax-anchor="self">
            {%- include logo-svg.html -%}
        </div>
        <div class="de-footer-wrapper">
            <div class="de-footer-about">
                <p>*</p>
                <p>Deadend is an idea of a Viet patriot who believes in our tribe. We have no take on any parties and
                    organizations. The world is our capital. Vietnam is our context. Deadend is our business. We are not
                    fashion designer and we have no boundaries to push. One day we try to make t-shirts, the other day
                    we try to create chairs.</p>
                <p>We are honest. We are free of space and time. We don’t compromise. And we promote inner freedom,
                    happiness, success, and wealth.</p>
            </div>
            <div class="de-footer-info">
                <ul>
                    <li><a href="#">info@deadendvietnam.com</a></li>
                    <li>246 Nguyen Thi Minh Khai, W.6, D.3, HCMC, VN</li>
                    <li>+84 123 456 789</li>
                </ul>
            </div>
            <div class="de-footer-contact">
                <ul>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Facebook</a></li>
                </ul>
                <a href="#">subscribe to newsletter</a>
            </div>
        </div>
        <div class="de-footer-copyright">
            &copy; 2019 Deadend.
        </div>
    </div>


    <!-- Javascript -->
    {%- include javascript.html -%}

</body>

</html>